<div class ="container-1">
  <div class ="menu">
    <%= image_tag "vehicule1.jpg" %>
  </div>
</div>
    <div class ="footer-1">
      <div class="text-footer">
        <h1>CLUB AUTO</h1>
        <h2>LE MEILLEUR DE L'AUTOMOBILE</h2>
      </div>
    </div>
  <div class ="menu2">
    <div class ="cards-accueil">
      <div class="picture">
        <%= image_tag "clients.jpg" %>
      </div>
      <div class="text-card">
        <h1>BIENVENUE</h1>
        <h2>CHEZ CLUB AUTO</h2>
      </div>
    </div>
    <div class ="cards-accueil">
      <div class="text-card">
        <p>lorem ipsum.....</p>
      </div>
      <div class="picture">
        <%= image_tag "entretien.jpg" %>
      </div>
    </div>
  </div>

  <div class ="menu3">
    <div class="containe-vente">
      <div class ="ticket-1" style="background-color: #f29c12; opacity: 1;">
        <div class="text-ticket">
          <a>Vous souhaitez louer?</a>
        </div>
      </div>
      <div class ="ticket-1"style="background-color: red;">
        <div class="text-ticket">
          <a>Vous souhaitez acheter?</a>
        </div>
      </div>
    </div>
  </div>

    <div class="black-square">
      <div class="text-title">
        <h1>VEHICULES RECENTS</h1>
      </div>
      <div class="square-line">
        <div class="bordure-line">
      </div>
        <div class ="display-car">
          <div class="actu-offer">
            <img src="https://images.unsplash.com/photo-1597404294360-feeeda04612e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80">
            <div class ="car-info-ticket">
              <div class="car-details">
                <h1>CLUB AUTO</h1>
                <h2>LE MEILLEUR DE L'AUTOMOBILE</h2>
              </div>
              <div class="price">
                <p>5230 €</p>
              </div>
            </div>
          </div>
          <div class="actu-offer">
            <img src="https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
          <div class ="car-info-ticket">
            <div class="car-details">
                <h1>CLUB AUTO</h1>
                <h2>LE MEILLEUR DE L'AUTOMOBILE</h2>
              </div>
              <div class="price">
                <p>8000 €</p>
              </div>
          </div>
          </div>
          <div class="actu-offer">
            <img src="https://images.unsplash.com/photo-1494905998402-395d579af36f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
          <div class ="car-info-ticket">
            <div class="car-details">
                <h1>CLUB AUTO</h1>
                <h2>LE MEILLEUR DE L'AUTOMOBILE</h2>
              </div>
              <div class="price">
                <p>8 200 €</p>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>

  <div class="why-nous">
    <div class="block-info-titre">
      <div class="horizontal">
        <h1>Pourquoi nous choisir?</h1>
      </div>
      <div class="cartes-informations">
          <%= image_tag "icon1.png" %>
        <div class="c-info">
          <H3>Lorem ipsum...</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel nulla nec nisi sodales consequat. Ut finibus non sem porta consectetur. Suspendisse.</p>
        </div>
          <%= image_tag "icon2.png" %>
        <div class="c-info">
           <H3>Lorem ipsum...</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel nulla nec nisi sodales consequat. Ut finibus non sem porta consectetur. Suspendisse.</p>
        </div>
          <%= image_tag "icon3.png" %>
        <div class="c-info">
           <H3>Lorem ipsum...</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel nulla nec nisi sodales consequat. Ut finibus non sem porta consectetur. Suspendisse.</p>
        </div>
          <%= image_tag "icon4.png" %>
        <div class="c-info">
           <H3>Lorem ipsum...</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel nulla nec nisi sodales consequat. Ut finibus non sem porta consectetur. Suspendisse.</p>
        </div>
      </div>
      <div class="button-contact">
        <h1>CONTACTEZ NOUS</h1>
      </div>
    </div>
  </div>
  <div class ="menu4">
    <div class="back-image">
      <div class ="ticket-1" style="background-color: #f29c12; opacity: 1;">
        <div class="text-ticket">
          <h1>CLUB AUTO</h1>
          <h2>VENTE ET LOCATION</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel nulla nec nisi sodales consequat. Ut finibus non sem porta consectetur. Suspendisse.</p>
        </div>
      </div>
    </div>
  </div>
